<div class="header">
  <h1>James Smith</h1>
  <nav>
    <li>Home</li>
    <li></li>
  </nav>
</div>

<div class="main">
  <img class="background" src="https://i.cdn.turner.com/adultswim/big/img/2014/08/23/americandad2-compressor.png"> 
  <p>??Random text??</p>
  <button>View my Work</button>
</div>

<div class="footer">
  <img class="icon" src="https://www.dropbox.com/s/uvayfwgs2dh24ce/facebook-logo.png?raw=1">
  <img class="icon" src="https://www.dropbox.com/s/q63o3ybcjt8outn/twitter-logo-silhouette.png?raw=1"> 
  <img class="icon" src="https://www.dropbox.com/s/nv8zwx6dsvxeron/youtube-logo.png?raw=1"> 
  <img class="icon" src="https://www.dropbox.com/s/clgv3dv67iutqx5/instagram-social-network-logo-of-photo-camera.png?raw=1"> 
</div>